body{
    background-color: cadetblue;
 }
 header{
   padding: 20px;
   border-bottom: 1px white;
   background-color: white;
 }
 header div {
   text-align: center;
 }
 header div a {
   color: black;
   font-size: 20px;
   text-align: center;
   line-height: 30px;
   margin: 0 26px;
   text-decoration: none;
   font-family: "Mulish", sans-serif;

 }
header div a:hover{
color: plum;
transition: color 700ms;
}

#box {
  text-align: center;
  padding: 5px;
}

#box img {
  border-radius: 50%;
  margin-bottom: 0px;
  margin-top: 20px;
  width: 200px;
}

#box h1 {
  font-size: 25px;
  line-height: 52px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}

#box h2 {
  font-size: 23px;
  line-height: 34px;
  font-weight:normal;
  margin-top: 1px;
  opacity: 0.8;
  margin-bottom: 0px;
  font-family: "Mulish", sans-serif;

}

#linksFooter{
  padding-top: 32px;
}

#linksFooter a{
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 3px;
  text-decoration: underline plum;
  margin-top: 0px;
}